.idea/
.project
.pydevproject
.directory
.vscode
*.pyc
*.log
*.session
*.session-journal
downloads/
tg_userbot/config.py
tg_userbot/__pychache__/
tg_userbot/modules/__pychache__/
tg_userbot/modules/libs/__pychache__/