*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
tg_userbot/config.py
/downloads/
tg_userbot/__pychache__/
tg_userbot/modules/__pychache__/
tg_userbot/modules/libs/__pychache__/
*.log
*.session
*.session-journal